#quote-card blockquote {
    padding: 0;
    margin: 0;
}

#quote-card.t-bq-section {
    padding: 15px;
}

#quote-card .t-bq-wrapper.t-bq-wrapper-boxed {
    /* max-width: 576px; */
    margin: 0 auto;
}

#quote-card .t-bq-quote-jasper {
    position: relative;
    box-shadow: 2px 8px 24px #3a3a3ac4;
    border-radius: 10px;
    width: 100%;
    /* Set the desired width for your cards */
    overflow: hidden;
    height: 342px;
}

#quote-card .truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: auto;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#quote-card .t-bq-quote-jasper .t-bq-quote-jasper-pattern {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80px;
    align-items: center;
    justify-content: flex-start;
    background: url('./img/hexabump.png') repeat;
    /* background-color: lightgrey; */
    border-radius: 10px 10px 0 0;
}

#quote-card .t-bq-quote-jasper .t-bq-quote-jasper-pattern .t-bq-quote-jasper-qmark {
    flex-basis: 100px;
    font-family: Garamond, Georgia, "Times New Roman", serif;
    font-size: 60pt;
    color: #999999;
    text-align: center;
    height: 80px;
    line-height: 90pt;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#quote-card .t-bq-quote-jasper .t-bq-quote-jasper-userpic {
    position: absolute;
    top: 45px;
    left: calc(50% - 35px);
    width: 70px;
    height: 70px;
    background: url("./img/strug.jpg") center center no-repeat;
    background-size: cover;
    border-radius: 50%;
}

#quote-card .t-bq-quote-jasper .t-bq-quote-jasper-base {
    flex-basis: calc(100% - 80px);
    background: #ffffff;
    padding: 40px 20px 40px 20px;
    font-size: 11pt;
    line-height: 1.62em;
    border-radius: 0 0 10px 10px;
}

#quote-card .t-bq-quote-jasper .t-bq-quote-jasper-meta {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px dotted #777777;
    text-align: center;
}

#quote-card .t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-author,
#quote-card .t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-source {
    color: #777777;
}

#quote-card .t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-author {
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 10pt;
    font-weight: bold;
}

#quote-card .t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-author cite {
    font-style: normal;
}

#quote-card .t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-source {
    font-size: 5pt;
}

#quote-card #card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    margin-left: -5px;
    /* justify-content: center;
    align-items: center;
    align-content: center; */
    /* padding: 15px; */
}

#quote-card .engraved-postedAt {
    font-size: 20px;
    font-family: Lithos Pro;
    background-color: #b3a4a4;
    mix-blend-mode: screen;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: #919191;
    text-shadow: rgba(245, 245, 245, 0.72) 0px 0px 0px;
}

#quote-card .quotation {
    background-color: #b3a4a4;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    mix-blend-mode: screen;
    text-shadow: rgba(245, 245, 245, 0.72) 1px 1px 0px;
    font-family: Garamond, Georgia, "Times New Roman", serif;
    font-size: 60pt;
    text-align: center;
    height: 80px;
    line-height: 90pt;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#quote-card .userimage {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    overflow: hidden;
    margin: 12px 12px 7px 14px;
}

#quote-card .timeline-header .username,
#quote-card .timeline-header .username a {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff12 !important;
    background: url('./img/hexabump.png') repeat;
    background-clip: text;
    -webkit-background-clip: text;
}

#quote-card .timeline-header {
    padding-bottom: 10px;
    line-height: 30px
}










@media screen and (max-width: 768px) {

    #quote-card .t-bq-quote-jasper .t-bq-quote-jasper-base {
        padding-left: 30px;
    }
}

@media screen and (max-width: 767px) {
    #quote-card #card-footer {
        margin-left: -15px;
    }
}

@media screen and (max-width: 573px) {
    #quote-card.t-bq-section {
        margin-left: -12px;
    }
}